# Node.js dependencies
node_modules/

# .env file where sensitive information is stored
.env

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
/dist
/build
/.next

# Vercel deployment
.vercel/

# MacOS system files
.DS_Store

# VS Code settings
.vscode/
node_modules
