# node_modules y entornos
node_modules/
.env
.env.local
.DS_Store

# Vite
dist/
.vite/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs y editores
.vscode/
.idea/

# Sistema
Thumbs.db
